
.alt-footer-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.alt-footer-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 10px;
}

.alt-fb-1 {
    width: 100%;
}

.alt-fb-2 {
    order: 1;
    width: 100%;
}

.alt-fb-3 {
    margin-top: 21px;
    margin-bottom: 30px;
    width: 100%;
}

@media (min-width: 768px) {
    .alt-footer-blocks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 125px;
        padding-right: 125px;
    }

    .alt-fb-1 {
       margin-left: -113px;
    }

    .alt-footer-block {
        flex-direction: row;
    }

    .alt-footer-block a:not(:last-child) {
        padding-right: 26px;
    }
}

@media (min-width: 1024px) {
    .alt-footer-block {
        justify-content: flex-start;
        flex-direction: row;
    } 

    .alt-fb-1 {
        margin-left: 0;
        width: 50%;
    }

    .alt-fb-2 {
        display: flex;
        justify-content: flex-end;
        order: 0;
        width: 50%;
    }

    .alt-fb-3 {
        margin-bottom: 0;
        width: 100%;
    }

    .alt-footer-blocks {
        padding-left: 0;
        padding-right: 0;
    }
}