.menu {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.dropdown-link {
  display: block;
  padding: 7px 0px;
  background: #F5F5FA;
  border-radius: 15px;
  color: #24A3FF;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
}

.dropdown-active-link {
  color: #F0145A;
}

.menu-wrapper ul li a:hover {
  background: #E6E6F0;
}

.menu-wrapper li:not(:last-child) {
  margin-bottom: 15px;
}

.close-button {
  background-image: url("../image/close-button.svg");
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 12px 0 0;
}

.menu ul :hover > div {
  display: block;
}

.menu-wrapper {
  display: none;
  width: 375px;
  padding: 64px 12px 12px;
  background-color: #fff;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 101;
  position: fixed; 
  right: 0;
  bottom: 0;
}

.menu:hover + .menu-wrapper {
  display: block;
}

.menu-btn:hover {
  background: #E6E6F0;
  border-radius: 8px;
}

.menu-l-btn:hover {
  background-color: #E6E6F0;
  border-radius: 8px;
}

.menu-wrapper:hover {
  display: block;
}

ul {
  padding: 0;
}

.menu-box li {
  list-style: none; 
}