.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 2;
}
.menu ul li {
  margin: 0;
  display: inline-block;  
}

.menu ul ul {
  display: block;
  position: relative;
  top: 100%;
  right: 0;
}

.dropdown-link {
  display: block;
  padding: 7px 0px;
  background: #F5F5FA;
  border-radius: 15px;
  color: #24A3FF;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
}

.menu ul ul li {
  width: 100%;
  text-align: center;
  display: list-item;
  position: relative;
  border: none;
  border-radius: 15px;
}



.dropdown-active-link {
  color: #F0145A;
}

.menu div .dropdown-link:hover {
  background: #E6E6F0;
}


.menu ul li:hover > ul {
  display: block;
}

.menu-wrapper li:not(:last-child) {
  margin-bottom: 15px;
}

.menu .menu-wrapper:hover > ul {
  display: block;
}

.close-button {
  background-image: url("../image/close-button.svg");
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 12px 0 0;
}

.menu ul :hover > div {
  display: block;
}

.menu-wrapper {
  right: 0;
  display: none;
  width: 375px;
  padding: 64px 12px 12px;
  background-color: #fff;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 2;
  position: absolute;
  margin-top: 167px;
}
