@font-face {
    font-family: "Montseratt";
    src: url(../assets/fonts/Montserrat-Regular.woff) format("woff");
    font-weight: 400;
}
  
@font-face {
  font-family: "Montseratt";
  src: url(../assets/fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
}