.footer {
    background: #F5F5FA;
}

.footer-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-border-line {
    border-top: 4px solid rgba(230, 230, 240, 1);
}

.footer-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 10px;
}

.fb-1 {
    width: 100%;
}

.fb-2 {
    order: 1;
    width: 100%;
}

.fb-3 {
    margin-top: 21px;
    margin-bottom: 30px;
    width: 100%;
}

.footer-title-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
}

.footer-contacts {
    color: #46466E;
}

.adress {
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
}

.footer-adress {
    color: #323264;
}

.copyright {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #B3B3BA;
}

.social-logo {
    background-image: url("../image/facebook-logo.png");
    background-size: 38px;
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

@media (min-width:768px) {
    .footer-blocks {
        justify-content: space-between;
    }

    .footer-block {
        justify-content: flex-start;
        flex-direction: row;
    }

    .footer-block a {
        padding-right: 26px;
    }

    .fb-1 {
        width: 50%;
    }

    .fb-2 {
        display: flex;
        justify-content: flex-end;
        order: 0;
        width: 50%;
    }

    .fb-3 {
        margin-bottom: 0;
        width: 100%;
    }

    .social-logo {
        width: 38px;
    }

    .f-link {
        position: relative;
    }

    .f-link:not(:last-child):before {
        content: "";
        background-color: #B3B3BA;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-right: 10px;
        border-radius: 50%;
    }
}