.header-top-section {
    height: 100vh;
    background-image: url("../image/h-logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.top-block {
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-switch {
    display: flex;
}

.language {
    padding: 5px 7px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.language-active {
    background: #F0145A;
    border-radius: 8px;
  }

.h-dark-contacts {
    color: #FFFFFF;
}

.scroll-btn {
    background-image: url("../image/scroll-btn.svg");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 42px;
    height: 42px;
}

.menu-btn {
    background-image: url("../image/menu-btn.svg");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 42px;
    height: 42px;
}

.scroll-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mid-block {
    display:flex;
    justify-content: space-between;
}

.mid-block-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 30px;
    width: 100%;
}

.content-text {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

.breadcrumps {
    display: flex;
    padding: 15px;
}

.breadcrumps-desctop {
    display: flex;
    flex-wrap: nowrap;
}

.breadcrumps a:not(:last-child) {
    padding-right: 24px;
}

.breadcrumps a {
    position: relative;
}

.breadcrumps a:not(:last-child)::after {
    content: "";
    background-image: url("../image/slash.svg");
    background-size: cover;
    width: 12px;
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 6px;
}

.breadcrumps-desctop a {
    position: relative;
}

.breadcrumps-desctop a:not(:last-child) {
    padding-right: 29px;
}

.breadcrumps-desctop a:not(:last-child)::after {
    content: "";
    background-image: url("../image/slash.svg");
    background-size: cover;
    width: 21px;
    height: 47px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4px;
}

.breadcrumps-mobile-link {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.breadcrumps-desctop-link {
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    text-decoration: none;
}

.bot-block {
    position: absolute;
    top: calc(100% - 72px);
    left: calc(50% - 21px);
}

.hlegal-logo {
    background-image: url("../image/hlegal-logo.svg");
    background-size: cover;
    background-color: transparent;
    width: 69px;
    height: 32px;
}

.top-block-desc {
    display: none;
}

@media (min-width: 768px) {
    .navigation {
        margin-bottom: 5px;
    }

    .top-block-desc {
        display: block;
    }

    .top-block {
        display: none;
    }

    .mid-block {
        display: none;
    }

    .desctop-adress {
        color: #FFFFFF;
    }

    .link-bar {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .hlegal-logo {
        background-image: url("../image/hlegal-logo.svg");
        background-size: cover;
        background-color: transparent;
        width: 130px;
        height: 60px;
    }

    .facebook-white {
        background-image: url("../image/facebook-logo-white.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }

    .header-nav-block {
        display: flex;
        row-gap: 30px;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 50px;
    }

    .header-nav-offset {
        padding-bottom: 60px;
    }

    .header-nav-link {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }


    .navigation a:not(:last-child) {
        margin-right: 15px;
    }

    .header-nav-link:hover {
        padding-bottom: 3px;
        border-bottom: 2px solid #FFFFFF;
    }

    .header-nav-link-active {
        color: #F0145A;
        border-bottom: 2px  solid #F0145A;;
        padding-bottom: 3px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
    }

    .lb-link {
        position: relative;
    }

    .lb-link:hover > .facebook-white {
        background-image: url("../image/fb-red.svg");
    }

    .lb-link:not(:last-child):after {
        content: "";
        background-color: #B3B3BA;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-right: -12px;
        border-radius: 50%;
    }
}

@media (min-width:1024px) {
    .breadcrumps-desctop {
        position: absolute;
    }
    .main-logo {
        position: absolute;
    }

    .header-nav-block {
        align-content: flex-end;
        row-gap: 18.5px;
    }

    .navigation {
        text-align: right;
    }
}