.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(50, 50, 100, .7) ;
}

.modal{
    background-color:#F5F5FA; ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    width: 100%;
}

.modal-input {
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    height: 56px;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
}

.modal-input::placeholder {
    font-size: 16px;
    line-height: 26px;
    color: #B3B3BA;
}

.message-input {
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    height: 130px;
    width: 100%;
    padding: 15px;
}

.message-input::placeholder {
    font-size: 16px;
    line-height: 26px;
    color: #B3B3BA;

}

.modal-middle-block:nth-child(1){
    margin-right: 30px;
}

.modal-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 30px;
    padding-right: 32px;
}

.modal-sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
    margin-top: 30px;
    margin-bottom: 15px;
}

.modal-send-btn{
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    width: 100%;
    height: 56px;
    border: none;
}

.send-btn-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.modal-close-button{
    background-image: url(../image/close-button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F5F5FA;;
    position: absolute;
    width: 32px;
    height: 32px;
    border: none;
    color: #fff;
    padding: 0;
    right: 0;
    margin-right: 30px;
    
}

textarea {
    resize: none;
}

@media (min-width: 650px) {
    .modal {
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 650px;
        background: #F5F5FA;
        box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
        border-radius: 12px;
    }
    .modal-title {
        font-size: 38px;
        line-height: 46px;
    }
}