.nav {
    position: relative;
}

.nav::before {
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    top: 0;
}

.nav::after {
    position: absolute;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    top: 0;
    width: 100%;
}

.nav-box {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.nav-block {
    display: flex;
    column-gap: 30px;
    overflow-x: auto;
    padding-left: 30px;
    margin-bottom: 64px;

}

.nav-block::-webkit-scrollbar {
    display: none;
}

.nav-block a:hover {
    color: #F0145A;
}

.nav-title::before {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: -30px;
}

.nav-content {
    padding: 0 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: right;
    color: #B3B3BA;
    white-space: nowrap;
}

.nav-link-active {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 30px;
    position: relative;
}

.nav-text {
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
    .nav-block {
        display: flex;
        column-gap: 30px;
        overflow-x: auto;
        padding-left: 60px;
        margin-bottom: 124px;
    }

    .nav-content {
        padding: 0 60px;
        position: relative;
    }

    .nav-title::before {
        margin-top: -60px;
    }
}

@media (min-width: 1024px) {
    .nav-box {
        column-gap: 124px;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 0 60px;
    }
    
    .nav-block {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
        width: 41.48%;
        padding: 14.5px 0;
        row-gap: 30px;
        margin-bottom: 0;
        overflow-x: hidden;
    }
    
    .nav-content::before{
        content: "";
        background: rgba(255, 255, 255, 0.3);
        width: 4px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        margin-left: -62px;
    }

    .nav-title::before {
        display: none;
    }

    .nav-content {
        width: 44.8%;
        padding: 9.5px 0;
    }
}

@media (min-width: 1440px) {
    .nav-box {
        padding: 0 180px;
    }

    .nav-block {
        width: 34.72%;
    }
    
    .nav-content {
        width: 53.79%;
        padding: 43px 0;
    }
}

@media (min-width: 1920px) {  
    .nav-box {
        padding: 0 280px;
    }
    
    .nav-block {
        width: 27.57%;
    }
    
    .nav-content {
        width: 63.3%;
        padding: 63px 0;
    }

}