.publications {
    background: #F5F5FA;
    padding: 30px 0;
}

.publication-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.publication-section-title {
    margin-top: 10px;
    margin-bottom: 30px;
}

.publication-box a {
    text-decoration: none;
}

.publication {
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
}

.publication-content {
    padding: 30px;
}

.publication-img img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.publication-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
    margin-bottom: 15px;
}

.publication-date {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
    margin-bottom: 34px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 4px solid #E6E6F0;
}

.publication-text {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.publication-midline {
    background: #E6E6F0;
    padding-top: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.publication-img {
    font-size: 0;
}

@media (min-width: 768px) {
    .publications a {
        width: calc(50% - 15px);
    }

    .publications a:last-child {
        flex-grow: 1;
    }
}

@media (min-width: 1024px) {

    .publications a {
        width: calc(33.33% - 20px);
    }

    .publications a:last-child {
        flex-grow: 0;
    }
}

@media (min-width: 1920px) {
    .publications {
        margin-top: 60px;
    }
}

