.publications {
    padding: 30px 30px 0px;
    background: #F5F5FA;

}

.publication-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.publication-box a {
    text-decoration: none;
}

.publication {
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    display: block;
}

.publication-content {
    padding: 30px;
}

.publication-img img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.publication-img {
    width: 100%;
}

.publication-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
    margin-bottom: 15px;
}

.publication-date {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
}

.publication-text {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.publication-midline {
    background: #E6E6F0;
    padding-top: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}