* {
    box-sizing: border-box;
    font-family: "Montseratt", sans-serif;
}

h2, h3, p {
    margin: 0;
    padding: 0;
}

.head-section{
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card-img-box {
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 22px;
    width: 108px;
}

.card:last-child {
    margin-bottom: 0;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    
}

.card-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #24A3FF;
    margin-top: 30px;
    margin-bottom: 15px;
}

.sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    padding-right: 14px;
    text-transform: uppercase;
    color: #24A3FF;
    position: relative;

    &::after {
        content: '';
        background-image: url("../assets/image/blue-arrow-right.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 0;
        top: 50%;
      }
}

.section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 10px;
    margin-bottom: 30px;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper {
    width: 315px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-bottom: 30px;
    width: 315px;
}

.block {
    width: 375px;
}

.block:nth-child(n+7) {
    display: none;
}

.block:nth-child(1) {
    background-color: #1C4280;
    padding: 36px 78px 36px 80px;
}

.block:nth-child(2) {
    background-color: #143646;
    padding: 44px 87px 44px 89px;
}

.block:nth-child(3) {
    background-color: #F48B30;
    padding: 37px 98px 37px 99px;
}

.block:nth-child(4) {
    background-color: #9e4dc3;
    padding: 39px 97px 39px 98px;
}

.block:nth-child(5) {
    background-color: #FD9339;
    padding: 38px 100px 38px 101px;
}

.block:nth-child(6) {
    background-color: #E2E2E4;
    padding: 38px 89px 38px 91px;
}

@media (min-width:768px) {
    .wrapper {
        width: 648px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 60px;
        width: 294px;
    }

    .card:nth-child(n+5) {
        margin-bottom: 0px;
    }

    .block {
        width: 256px;
    }

    .block:nth-child(n+7) {
        display: block;
    }
    .block:nth-child(1) {
        background-color: #1C4280;
        padding: 36px 19px 36px 20px;
    }
    
    .block:nth-child(2) {
        background-color: #143646;
        padding: 44px 28px 44px 29px;
    }
    
    .block:nth-child(3) {
        background-color: #F48B30;
        padding: 38px 38px 38px 39px;
    }
    
    .block:nth-child(4) {
        background-color: #9e4dc3;
        padding: 39px 38px;
    }
    
    .block:nth-child(5) {
        background-color: #FD9339;
        padding: 38px 41px;
    }
    
    .block:nth-child(6) {
        background-color: #E2E2E4;
        padding: 36px 35px;
    }
    
    .block:nth-child(7) {
        background-color: #C71C36;
        padding: 29px 59px 30px;
    }
    
    .block:nth-child(8) {
        background-color: #DCF3F9;
        padding: 22px 55px;
    }
    
    .block:nth-child(9) {
        background-color: #EAEAEA;
        padding: 30px 37px;
    }
    
    .block:nth-child(10) {
        background-color: #282240;
        padding: 41px 37px 41px 38px;
    }
    
    .block:nth-child(11) {
        background-color: #1D4568;
        padding: 37px 33px 37px 34px;
    }
    
    .block:nth-child(12) {
        background-color: #000000;
        padding: 13px 52px 12px 52px;
    }
}

@media (min-width:1024px) {
    .wrapper {
        width: 904px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 60px;
        width: 261px;
    }

    .card:nth-child(n+3) {
        margin-bottom: 0px;
    }

    .block {
        width: 256px;
    }

    .block:nth-child(n+7) {
        display: block;
    }
    .block:nth-child(1) {
        background-color: #1C4280;
        padding: 36px 19px 36px 20px;
    }
    
    .block:nth-child(2) {
        background-color: #143646;
        padding: 44px 28px 44px 29px;
    }
    
    .block:nth-child(3) {
        background-color: #F48B30;
        padding: 38px 38px 38px 39px;
    }
    
    .block:nth-child(4) {
        background-color: #9e4dc3;
        padding: 39px 38px;
    }
    
    .block:nth-child(5) {
        background-color: #FD9339;
        padding: 38px 41px;
    }
    
    .block:nth-child(6) {
        background-color: #E2E2E4;
        padding: 36px 35px;
    }
    
    .block:nth-child(7) {
        background-color: #C71C36;
        padding: 29px 59px 30px;
    }
    
    .block:nth-child(8) {
        background-color: #DCF3F9;
        padding: 22px 55px;
    }
    
    .block:nth-child(9) {
        background-color: #EAEAEA;
        padding: 30px 37px;
    }
    
    .block:nth-child(10) {
        background-color: #282240;
        padding: 41px 37px 41px 38px;
    }
    
    .block:nth-child(11) {
        background-color: #1D4568;
        padding: 37px 33px 37px 34px;
    }
    
    .block:nth-child(12) {
        background-color: #000000;
        padding: 13px 52px 12px 52px;
    
}
}

@media (min-width:1440px) {
    .wrapper {
        width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 60px;
        width: 400px;
    }

    .card:nth-child(n+3) {
        margin-bottom: 0px;
    }

    .block {
        width: 360px;
    }

    .block:nth-child(n+7) {
        display: block;
    }
    .block:nth-child(1) {
        background-color: #1C4280;
        padding: 36px 71px 36px 72px;
    }
    
    .block:nth-child(2) {
        background-color: #143646;
        padding: 44px 80px 44px 81px;
    }
    
    .block:nth-child(3) {
        background-color: #F48B30;
        padding: 38px 90px 38px 91px;
    }
    
    .block:nth-child(4) {
        background-color: #9e4dc3;
        padding: 39px 90px;
    }
    
    .block:nth-child(5) {
        background-color: #FD9339;
        padding: 38px 93px;
    }
    
    .block:nth-child(6) {
        background-color: #E2E2E4;
        padding: 36px 86px 36px 87px;
    }
    
    .block:nth-child(7) {
        background-color: #C71C36;
        padding: 29px 111px 30px 111px;
    }
    
    .block:nth-child(8) {
        background-color: #DCF3F9;
        padding: 22px 107px;
    }
    
    .block:nth-child(9) {
        background-color: #EAEAEA;
        padding: 30px 89px;
    }
    
    .block:nth-child(10) {
        background-color: #282240;
        padding: 41px 89px 41px 90px;
    }
    
    .block:nth-child(11) {
        background-color: #1D4568;
        padding: 37px 85px 37px 86px;
    }
    
    .block:nth-child(12) {
        background-color: #000000;
        padding: 13px 104px 12px 104px;
    
}
}

@media (min-width:1920px) {
    .wrapper {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 60px;
        width: 493px;
    }

    .card:nth-child(n+3) {
        margin-bottom: 0px;
    }

    .block {
        width: 430px;
    }

    .block:nth-child(n+7) {
        display: block;
    }
    .block:nth-child(1) {
        background-color: #1C4280;
        padding: 36px 106px 36px 107px;
    }
    
    .block:nth-child(2) {
        background-color: #143646;
        padding: 44px 115px 44px 116px;
    }
    
    .block:nth-child(3) {
        background-color: #F48B30;
        padding: 38px 125px 38px 126px;
    }
    
    .block:nth-child(4) {
        background-color: #9e4dc3;
        padding: 39px 125px;
    }
    
    .block:nth-child(5) {
        background-color: #FD9339;
        padding: 38px 128px;
    }
    
    .block:nth-child(6) {
        background-color: #E2E2E4;
        padding: 36px 103px;
    }
    
    .block:nth-child(7) {
        background-color: #C71C36;
        padding: 29px 146px 30px 146px;
    }
    
    .block:nth-child(8) {
        background-color: #DCF3F9;
        padding: 22px 142px;
    }
    
    .block:nth-child(9) {
        background-color: #EAEAEA;
        padding: 30px 124px;
    }
    
    .block:nth-child(10) {
        background-color: #282240;
        padding: 41px 124px 41px 125px;
    }
    
    .block:nth-child(11) {
        background-color: #1D4568;
        padding: 37px 120px 37px 121px;
    }
    
    .block:nth-child(12) {
        background-color: #000000;
        padding: 13px 139px 12px 139px;
    
}
}