* {
    box-sizing: border-box;
    font-family: "Montseratt", sans-serif;
}

h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.head-section{
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.card-img-box {
    background-color: #FFFFFF;
    border-radius: 24px;
    width: 92px;
    height: 92px;
    position: relative;
}

.card-img-box img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    
}

.card-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #24A3FF;
    margin-top: 30px;
    margin-bottom: 15px;
}

.sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    padding-right: 14px;
    text-transform: uppercase;
    color: #24A3FF;
    position: relative;
    text-decoration: none;

    &::after {
        content: '';
        background-image: url("../image/blue-arrow-right.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 0;
        margin-top: 2px;
      }
}

.section-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 10px;
    margin-bottom: 30px;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    width: 315px;
    margin-left: auto;
    margin-right: auto;
}

.deco-element1 {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
}

.deco-element2 {
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
}

.card {
    width: 315px;
}

.block {
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.block:nth-child(n+7) {
    display: none;
}

.block:nth-child(1) {
    background-color: #1C4280;
}

.block:nth-child(2) {
    background-color: #143646;
}

.block:nth-child(3) {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}
.block:nth-child(4) {
    background-color: #9e4dc3;
}

.block:nth-child(5) {
    background-color: #FD9339;
}

.block:nth-child(6) {
    background-color: #E2E2E4;
}

.block:nth-child(7) {
    background-color: #C71C36;
}

.block:nth-child(8) {
    background-color: #DCF3F9;
}

.block:nth-child(9) {
    background-color: #EAEAEA;
}

.block:nth-child(10) {
    background-color: #282240;
}

.block:nth-child(11) {
    background-color: #1D4568;
}

.block:nth-child(12) {
    background-color: #000000;
}

@media (min-width:768px) {
    .wrapper {
        width: 648px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 60px;
    }

    .card {
        width: 294px;
    }

    .block {
        width: 33.333%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .block:nth-child(n+7) {
        display: flex;
    }
}

@media (min-width:1024px) {
    .wrapper {
        width: 904px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 60px;
        width: 261px;
    }

    .card:nth-child(n+3) {
        margin-bottom: 0px;
    }

    .block {
        width: 25%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .block:nth-child(n+7) {
        display: flex;
    }
}

@media (min-width:1440px) {
    .wrapper {
        width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 60px;
        width: 400px;
    }

    .card:nth-child(n+3) {
        margin-bottom: 0px;
    }

    .block {
        width: 25%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .block:nth-child(n+7) {
        display: flex;
    }
}

@media (min-width:1920px) {
    .wrapper {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 60px;
        width: 493px;
    }

    .card:nth-child(n+3) {
        margin-bottom: 0px;
    }

    .blocks {
        width: 1720px;
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }

    .block {
        width: 430px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .block:nth-child(n+7) {
        display: flex;
    }

    .block:nth-child(1) {
        background-color: #1C4280;
        border-radius: 15px 0 0 0;
    }

    .block:nth-child(4) {
        background-color: #9e4dc3;
        border-radius: 0 15px 0 0;
    }
    
    .block:nth-child(9) {
        background-color: #EAEAEA;
        border-radius: 0 0 0 15px;
    }

    .block:nth-child(12) {
        background-color: #000000;
        border-radius: 0 0 15px 0;
    }
}