* {
    box-sizing: border-box;
    font-family: "Montseratt", sans-serif;
}

h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 60px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    position: relative;
}

.header::before {
    content: "";
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -10px;
    height: 10px;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 0;
}

.header::after {
    content: "";
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: -20px;
    height: 10px;
    width: calc(100% - 80px);
    position: absolute;
    bottom: 0;
}


.header-bottom-section{
    padding: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.card-img-box {
    background-color: #FFFFFF;
    border-radius: 24px;
    width: 92px;
    height: 92px;
    position: relative;
}

.card-img-box img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    
}

.card-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #24A3FF;
    margin-top: 30px;
    margin-bottom: 15px;
}

.sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    padding-right: 14px;
    text-transform: uppercase;
    color: #24A3FF;
    position: relative;
    text-decoration: none;

    &::after {
        content: '';
        background-image: url("../image/blue-arrow-right.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 0;
        margin-top: 2.5px;
      }
}

.sub-title:hover {
    color: #F0145A;
}

.sub-title:hover:after {
    background-image: url("../image/red-arrow-right.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    margin-top: 3px;
}

.section-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 10px;
    margin-bottom: 30px;
}

.blocks-title-block {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.blocks-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.block {
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.block:nth-child(n+7) {
    display: none;
}

.hillel-logo {
    background-color: #1C4280;
}

.wannabiz-logo {
    background-color: #143646;
}

.tapgerine-logo {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}
.dddlook-logo {
    background-color: #9e4dc3;
}

.orangear-logo {
    background-color: #FD9339;
}

.adtelligent-logo {
    background-color: #E2E2E4;
}

.cliccy-logo {
    background-color: #C71C36;
}

.ecoleasing-logo {
    background-color: #DCF3F9;
}

.infratek-logo {
    background-color: #EAEAEA;
}

.citypark-logo {
    background-color: #282240;
}

.aps-logo {
    background-color: #1D4568;
}

.ultcard-logo {
    background-color: #000000;
}

@media (min-width:768px) {

    .header-bottom-section{
        padding: 60px;
    
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 60px;
    }

    .card {
        width: calc(50% - 30px);
    }

    .block {
        width: 33.333%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .block:nth-child(n+7) {
        display: flex;
    }
}

@media (min-width:1024px) {

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 60px;
    }

    .card {
        width: calc(33.33% - 40px);
    }

    .card:nth-child(n+3) {
        margin-bottom: 0px;
    }

    .block {
        width: 25%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .block:nth-child(n+7) {
        display: flex;
    }
}

@media (min-width:1440px) {

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 60px;
    }

    .card {
        width: calc(33.33% - 40px);
    }

    .card:nth-child(n+3) {
        margin-bottom: 0px;
    }

    .block {
        width: 25%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .block:nth-child(n+7) {
        display: flex;
    }
}

@media (min-width:1920px) {

    .header-bottom-section{
        padding: 60px 160px;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 60px;
    }

    .card {
        width: calc(33.33% - 40px);
    }

    .card:nth-child(n+3) {
        margin-bottom: 0px;
    }

    .blocks {
        width: 1720px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 60px;
    }

    .block {
        width: 430px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}