.services-wrapper {
    padding: 0 30px;
}

.services-content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.services-text-block {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.services-text-block p:not(:last-child) {
    margin-bottom: 20px;
}

.services-title {
    margin: 28px 0;
}

.services-list-box {
    padding-left: 14px;
}

.services-list {
    list-style: url("../image/list-red-dot.svg");
}

.services-list li:not(:last-child) {
    margin-bottom: 15px;
}

.list-text {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.services-list-block {
    display: flex;
    flex-direction: column;
    border-top: 4px solid rgba(255, 255, 255, 0.5);
}

.services-list-title {
    margin: 30px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    width: 100%;
}

.consult-btn {
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    padding: 18px 30px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 28px;
}

@media (min-width: 768px) {
    .services-wrapper {
        padding: 0 60px;
    }

    .services-content-block {
        margin: 60px 0;
    }

    .services-list {
        width: calc(50% - 44px);
    }

    .services-list-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .services-wrapper {
        padding: 0 180px;
    }   
}

@media (min-width: 1920px) {
    .services-wrapper {
        padding: 0 280px;
    }   
}